[submodule "external/BALROG"]
	path = external/BALROG
	url = git@github.com:DavidePaglieri/BALROG.git
[submodule "external/nle-utils"]
	path = external/nle-utils
	url = git@github.com:BartekCupial/nle-utils.git
[submodule "external/sample_factory"]
	path = external/sample_factory
	url = https://github.com/BartekCupial/sample-factory
	branch = nle-code-wrapper
