[submodule "external/nle_utils"]
	path = external/nle_utils
	url = git@github.com:BartekCupial/nle-utils.git
[submodule "external/sample_factory"]
	path = external/sample_factory
	url = https://github.com/BartekCupial/sample-factory
	branch = nle-code-wrapper
[submodule "external/balrog"]
	path = external/balrog
	url = git@github.com:jens321/BALROG.git
